<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../static/css/reset-password.css">
  </head>
  <body>
    <div class="login-container">
      <h2>Redefinir Senha</h2>
      <form id="resetForm" onsubmit="handleSubmit(event)">
        <div class="mb-6">
          <label for="new_password">Nova Senha</label>
          <input
            type="password"
            id="new_password"
            name="new_password"
            placeholder="Digite sua nova senha"
            required
          />
        </div>
        <button type="submit">Redefinir Senha</button>
      </form>
      <div class="register-link">
        <p><a href="/login">Voltar ao login</a></p>
      </div>
    </div>
    <script src="../static/js/reset-password.js"></script>
  </body>
</html>
